*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.Header{
    display: flex;
    padding: 16px 0px;
    background-color: white;
    box-shadow: 0px 0px 3px;
}
.Header .first{
    display: flex;
    width: 40%;
    justify-content: flex-start;
}
.Header .img img{
    width: 100%;
    max-width: 180px;
}
.Header .input input{
    width: 228px;
    padding: 4px 25px 4px 10px;
    margin-top: 5px;
    margin-left: 12px;
}
.Header .input input:focus{
    outline: rgb(208, 20, 92);
    border-color: pink;
}
.Header .searchbu button{
    padding: 3px 20px 7px 20px;
    margin-top: 5px;
    margin-left: 5px;
    border: 1px solid gray;
    background-color: #ec407a;
    border-radius: 5px;
    color: white;
}
.Header .first .search-sys{
    display: flex;
}
.Header .searchbu button:hover{
    background-color: #a40b3e;
}
.Header .searchbu button svg{
    font-size: 22px;
}
.Header .dropdown-list select{
    padding: 6px 14px;
    margin-top: 5px;
    width: 100%;
    max-width: 117px;
}
.Header .navbar .menu li{
    padding: 0px 4px;
    margin-left: 4px;
    font-weight: 600;
}
.Header .navbar .menu li a{
    text-decoration: none;
    color: black;
}
.Header .second{
    width: 60%;
    display: flex;
    justify-content: flex-start;
}
.Header .second .close{
    display: flex;
}
.Header .t1,.t2{
    display: none;
}
.Header .second .icon-list{
    place-items: center;
    display: flex;
}
.Header .second .icon-list span{
font-size: 30px;
color: #ec407a;
margin-top: -6px;
}
.Header .second .icon-list button{
    padding: 3px 6px 4px 6px;
    border: 1px solid gray;
    background-color: #ec407a;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 10px;
    color: white;
}
.Header .second .icon-list button a{
    text-decoration: none;
    color: white;
}
.Header .second .icon-list button:hover{
    background-color: #a40b3e;
}
/* ///login */
.login{
    text-align: center;
    width: 100%;
    max-width: 28rem;
    margin: auto;
}
.login .img img{
    width: 100%;
    max-width: 110px;
    margin-top: 6rem;
}
.login .img h2{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 800;
    margin-top: 1.5rem;
}
.login .number{
    margin-top: 1.5rem;
}
.login .number input{
    padding: 3px 10px 3px 10px;
    max-width: 443px;
    width: 100%;
    font-weight: 300;
}
.login .button button{
    background-color: #ec407a;
    color: white;
    border: none;
    border-radius: 6px;
    width: 100%;
    margin-top: 1rem;
    max-width: 443px;
    padding: 6px 10px 6px 10px;
}
.login .button button:hover{
    background-color: #a40b3e;
}
/* ////whatsapp */
.whatsapp{
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    place-items: center;
    width: 100%;
    margin: auto;
    padding: 5px 0px;
    margin: 10px auto;
    max-width: 563px;
    border: 2px solid #0f0f90;
    background-color: #0f0f9b;
    color: white;
}
.whatsapp span{
    background-color: #4f4fdc;
    padding: 0px 4px;
    border-radius: 12px;
}
.whatsapp h3{
    font-size: 16px;
    margin-top: 9px;
}
/* ///sliderimg */
.sliderimg img{
    width: 100%;
}
.carousel.slide .carousel-inner .carousel-item .carousel-caption button{
    padding: 8px 30px 8px 30px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
}
/* ////collection */
.collection .text h1{
    text-align: center;
    font-weight: 700;
    padding-bottom: 1rem;
}
.collection .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.collection .card .cards{
    width: 30%;
    margin-bottom: 30px;
    overflow: hidden;
}
.collection .cards:hover{
    transform: scale(105%);
    transition: all .5s ease-in-out;
    border-radius: 4px;
}
.collection .card img{
    width: 100%;
    border-radius: 4px;
}
.collection .card img:hover{
    transform: scale(105%);
    transition: all .5s ease-in-out;
}
/* ////theme */
.theme .text h1{
    text-align: center;
    font-weight: 700;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.theme .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.theme .cards{
    width: 30%;
    margin-bottom: 30px;
    overflow: hidden;
}
.theme .cards:hover{
    transform: scale(105%);
    transition: all .5s ease-in-out;
    border-radius: 4px;
}
.theme .card img{
    width: 100%;
    border-radius: 4px;
}
.theme .card img:hover{
    transform: scale(105%);
    transition: all .5s ease-in-out;
}
/* ////best */
.best .best-t-card .best-card{
    width: 22%;
    box-shadow: 0px 0px 10px;
    padding: 0px 20px 20px 20px;
    margin-bottom: 25px;
}
.best .best-t-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.best .best-card img{
    width: 100%;
    max-width: 280px;
    height: 340px;
}
.best h2{
    margin: 16px 10px 19px 30px;
    letter-spacing: 1px;
    text-orientation: mixed;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 27px;
    text-decoration: underline;
    color: #746767;
    text-decoration-color: #ec407a;
}
.best .best-t-card .best-card h4{
    font-size: 15px;
    margin-top: 2rem;
    color: #7c6b6b;
}
.best .best-t-card .best-card .rupee{
    display: flex;
}
.best .best-t-card .best-card .rupee .one,.two{
    display: flex;
}
.best .best-t-card .best-card .rupee .one{
    text-decoration: line-through;
}
.best .best-t-card .best-card .rupee .one span{
    margin-top: 2px;
    margin-right: 5px;
}
.best .best-t-card .best-card .rupee .two span{
    margin-top: 2px;
}
/* ////card */
.icon-card{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 30px 0px;
}
.icon-card .i-card{
    padding: 15px 30px;
    box-shadow: 0px 0px 1px #aaaaaa;
}
.icon-card .i-card li{
    color: #ec407a;
    background-color: #f4b6cb;
    border-radius: 30px;
    width: 100%;
    max-width: 40px;
    font-size: 25px;
    margin: auto;
}
/* ////footer */
.footer{
    display: flex;
    justify-content: space-around;
    background-color: #e9e9e9;
    padding: 2rem 0;
}
.footer .first{
    margin-top: 3rem;
}
.footer .first img{
    width: 100%;
    max-width: 182px;
}
.footer .first p{
    width: 245px;
    font-weight: 300;
    color: #423333;
    margin-left: 12px;
}
.footer .second h2{
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 400;
    color: #6f5757;
    font-family: system-ui;
    text-transform: uppercase;
}
.footer .second li a:hover{
    color: #ec407a;
}
.footer .second li a{
    text-decoration: none;
    color: #8a8a8a;
}
.footer .third h2{
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 400;
    color: #6f5757;
    font-family: system-ui;
    text-transform: uppercase;
}
.footer .third li a{
    text-decoration: none;
    color: #8a8a8a;
}
.footer .third li a:hover{
    color: #ec407a;
}
.footer .four h2{
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 400;
    color: #6f5757;
    font-family: system-ui;
    text-transform: uppercase;
}
.footer .four li a{
    text-decoration: none;
    color: #8a8a8a;
}
.footer .four li a:hover{
    color: #ec407a;
}
.footer .five{
    margin-top: 4rem;
}
.footer .five img{
    width: 100%;
    max-width: 200px;
}
@media screen and (max-width: 584px){
    .Header .first{
        display: block;
    }
    .Header .second .open{
        background-color: white;
        color: #ec407a;
        transform: translate(-231px, 100px);
    z-index: 1;
    width: 99vh;
    height: 53vh;
    position: absolute;
    }
    .Header .second .close{
        transform: translateY(-200px);
    }
    .Header .second .open .navbar .menu li{
        padding: 0;
        margin: 16px;
    }
    .Header .second .open .dropdown-list{
        display: flex;
        justify-content: center;
    }
    .Header .second .open .navbar .menu li a:hover{
        color: #ec407a;
    }
    .Header .second .open .navbar{
        display: block;
        text-align: center;
    }
    .Header .dropdown-list select{
        padding: 0;
        margin: 0;
    }
    .Header .t1,.t2{
        display: block;
    }
    .Header .t2 button{
        position: absolute;
    left: 90%;
    top: -27%;
    background-color: white;
    color: #ec407a!important;
    border: none;
    font-size: 25px;
    }
    .Header .t1 button{
        background-color: white;
    color: #ec407a!important;
    border: none;
    position: absolute;
    left: 90%;
    font-size: 41px;
    }
    .Header .second .icon-list{
        display: none!important;
    }
    .best .best-t-card .best-card{
        width: 64%;
        margin: auto;
    }
    .best .best-card img{
        max-width: 320px;
    }
    .icon-card{
        display: block;
    }
    .footer{
        display: block;
        text-align: center;
    }
    .footer .first p{
        margin-right: auto;
    margin-left: auto;
    }
}